.project-frame {
  background-color: white;
  width: 50%;
  height: 40%;
  margin: 10px;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  .btn-primary {
    width: 10rem;
    border-color: #ffd700;
    border-radius: 0.5rem;
  }
}
